<div class="container">
    <div class="justify-content-center">
      <div class="col-md-4">
        <mat-card class="mt-5 pt-4 pb-5">
        <h3 class="header-section text-primary">Welcome Shipping Web App</h3>
          <mat-card-header>
            <mat-card-title class="text-center">Sign Up form</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signInForm.get('email')?.hasError('required')">Email is required.</mat-error>
                <mat-error *ngIf="signInForm.get('email')?.hasError('email')">Please enter a valid email address.</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-error *ngIf="signInForm.get('password')?.hasError('required')">Password is required.</mat-error>
                <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</mat-error>
              </mat-form-field>
              <mat-error *ngIf="userNotFoundFlag" class="text-center w-100">User not found</mat-error>
              <button mat-raised-button color="warn" type="submit" [disabled]="signInForm.invalid" class="w-100 mt-3">Sign In</button>
            </form>
          </mat-card-content>
          <mat-card-footer class="text-center pt-2 pb-2">
            <a class="text-primary" href="sign-up">Don't have an account? Sign Up</a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  